<div class="main">
  <div class="questions-wrapper">
    <div class="container">
      <div class="heading">
        <div class="questions">
          <!-- FIXME: newアクション用のビューとほぼ重複しているため，共通部分をリファクタリングする -->
          <!-- ヘッダー -->
          <% @problem = Problem.find_by(task_id: params[:task_id]) %>
          <% @question = Question.find_by(id: params[:id]) %>

          <!-- TODO: DRYに -->
          <% atcoder = "https://atcoder.jp/contests/" %>
          <% url = atcoder + @problem.contest_id + "/tasks/" + @problem.task_id %>

          <h2>
            <a href=<%= url %> target="_blank" color="black">
              <%= @problem.contest_id.upcase + ": " + @problem.title %>
            </a>
          </h2>

          <!-- フォームの内容を送信 -->
          <%= form_tag("/problems/#{@problem.task_id}/questions/#{@question.id}/update") do %>
            <!-- エラーメッセージを表示 -->
            <% @question.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>

            <!-- TODO: 初期値を設定 -->
            <p>Title</p>
            <input name="title" value="<%= @question.title %>">

            <!-- TODO: 初期値を設定 -->
            <!-- TODO: 専用のカラムを追加する必要がある -->
            <p>URL</p>
            <input name="url" value="">

            <!-- TODO: 初期値を設定 -->
            <p>Descriptions</p>
            <textarea name="content"><%= @question.content %></textarea>

            <!-- FIXME: 改行はCSSで整えるべきでは? -->
            <p></p>
            <input type="submit" value="Update">

            <!-- 戻るを設置 -->
            <!-- See: -->
            <!-- http://www.htmq.com/html5/input_type_button.shtml -->
            <input type="button" value="Back" onclick="history.back()">

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
