<div class="main">
  <div class="questions-wrapper">
    <div class="container">
      <div class="heading">
        <div class="questions">
          <!-- ヘッダー -->
          <% @problem = Problem.find_by(task_id: params[:task_id]) %>

          <h2><%= @problem.contest_id.upcase + ": " + @problem.title %></h2>

          <!-- 入力エラーがあったときは，メッセージを表示 -->
          <% @question.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <!-- フォームの内容を送信 -->
          <%= form_tag("/problems/#{@problem.task_id}/questions/create") do %>

            <p>Title (up to 36 characters)</p>
            <input name="title" value="<%= @title %>">

            <!-- TODO: 専用のカラムを追加する必要がある -->
            <p>URL</p>
            <input name="url">

            <p>Descriptions (up to 140 characters)</p>
            <textarea name="content"><%= @content %></textarea>

            <!-- FIXME: 改行はCSSで整えるべきでは? -->
            <p></p>
            <input type="submit" value="Submit">

            <!-- 戻るを設置 -->
            <!-- See: -->
            <!-- http://www.htmq.com/html5/input_type_button.shtml -->
            <input type="button" value="Back" onclick="history.back()">

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
