<div class="main">
  <div class="questions-wrapper">
    <div class="container">
      <div class="heading">
        <div class="questions">

          <!-- FIXME: DRYに -->
          <% problem = Problem.find_by(task_id: params[:task_id]) %>

          <% atcoder = "https://atcoder.jp/contests/" %>
          <% url = atcoder + problem.contest_id + "/tasks/" + problem.task_id %>

          <h2>
            <a href=<%= url %> target="_blank" color="black">
              <%= problem.contest_id.upcase + ": " + problem.title %>
            </a>
          </h2>

          <%# TODO: 質問をヘッダーとして記載 %>
          <%# FIXME: タイトルと質問内容が見やすくなるようにする %>
          <h2><%= @question.title %></h2>

          <br>

          <p><%= @question.content %></p>

          <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/edit" %>
          <%= link_to("Edit", url) %>

          <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/destroy" %>
          <%= link_to("Delete", url, {method: "post"}) %>


          <%# 回答数と内容を表示 %>
          <% @answers = Answer.where(question_id: @question.id) %>
          <h3 class="dividing-line"><%= "#{@answers.count}" + " Answer" %></h3>

          <!-- FIXME: 時刻の表示を日本時間に -->
          <% if @answers %>
            <% @answers.each do |answer| %>
              <p><%= answer.content %></p>
              <small><%= answer.updated_at %></small>
              <p class="dividing-line"></p>
            <% end %>
          <% end %>

          <!-- FIXME: 利便性を高めるにも，回答の入力欄を遷移せず表示させたい -->
          <!-- 回答の入力ボタン -->
          <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/answers/new" %>
          <%= link_to("Write Your Answer", url) %>
        </div>
      </div>
    </div>
  </div>
</div>
