<div class="main">
  <div class="questions-wrapper">
    <div class="container">
      <div class="heading">
        <div class="questions">

          <!-- FIXME: DRYに -->
          <% problem = Problem.find_by(task_id: params[:task_id]) %>

          <% atcoder = "https://atcoder.jp/contests/" %>
          <% url = atcoder + problem.contest_id + "/tasks/" + problem.task_id %>

          <h2>
            <a href=<%= url %> target="_blank" color="black">
              <%= problem.contest_id.upcase + ": " + problem.title %>
            </a>
          </h2>

          <%# TODO: 質問をヘッダーとして記載 %>
          <%# FIXME: タイトルと質問内容が見やすくなるようにする %>
          <h2><%= @question.title %></h2>

          <% posted_user = @question.user %>

          <p>
            Posted by:
            <% if posted_user %>
              <%= posted_user.name %>
            <% end %>

            <%# See:
            https://apidock.com/rails/ActionView/Helpers/DateHelper/time_ago_in_words %>
            <%= time_ago_in_words(@question.created_at) + " ago" %>
          </p>

          <% if @question.created_at != @question.updated_at %>
            <p>
              Updated:

              <%= time_ago_in_words(@question.updated_at) + " ago" %>
            </p>
          <% end %>

          <p><%= sanitize(markdown(@question.content)) %></p>

          <% if @current_user && @current_user.id == posted_user.id %>
            <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/edit" %>
            <%= link_to("Edit", url) %>

            <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/destroy" %>
            <%= link_to("Delete", url, {method: "post"}) %>
          <% end %>


          <%# 回答数と内容を表示 %>
          <%# See:
          https://qiita.com/residenti/items/1ae1e5ceb59c0729c0b9 %>
          <% @answers = Answer.where(question_id: @question.id).page(params[:page]).per(5) %>
          <h3 class="dividing-line"><%= "#{@answers.total_count}" + " Answer" %></h3>

          <!-- FIXME: 時刻の表示を日本時間に -->
          <% if @answers %>
            <% @answers.each do |answer| %>
              <p><%= answer.content %></p>

              <p>
                Posted by:
                <% posted_user = User.find_by(id: answer.user_id) %>
                <%= posted_user.name %>
                <small><%= time_ago_in_words(answer.created_at) + " ago" %></small>
              </p>

              <% if answer.created_at != answer.updated_at %>
                <p>
                  Updated:

                  <small><%= time_ago_in_words(answer.updated_at) + " ago" %></small>
                </p>
              <% end %>

              <%# Vote %>
              <% is_up = @current_user.voted_up_on? answer%>

              <% if is_up %>
                <% like = fa_icon "thumbs-up", class: "liked" %>
              <% else %>
                <% like = fa_icon "thumbs-up", class: "not-voted" %>
              <% end %>

              <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/answers/#{answer.id}/like" %>
              <%= link_to(like, url, {method: "put"}) %>

              <%= answer.get_upvotes.size %>

              <% is_down = @current_user.voted_down_on? answer %>

              <% if is_down %>
                <% unlike = fa_icon "thumbs-down", class: "unliked" %>
              <% else %>
                <% unlike = fa_icon "thumbs-down", class: "not-voted" %>
              <% end %>

              <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/answers/#{answer.id}/unlike" %>
              <%= link_to(unlike, url, {method: "put"}) %>

              <%= answer.get_downvotes.size %>

              <%# Edit and Delete link %>
              <% if @current_user && @current_user.id == answer.user_id.to_i %>
                <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/answers/#{answer.id}/edit" %>
                <p><%= link_to("Edit", url) %>

                <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/answers/#{answer.id}/destroy" %>
                <%= link_to("Delete", url, {method: "post"}) %></p>
              <% end %>

              <p class="dividing-line"></p>
            <% end %>

            <%= paginate @answers %>
            <p class="dividing-line"></p>

          <% end %>

          <!-- FIXME: 利便性を高めるにも，回答の入力欄を遷移せず表示させたい -->
          <!-- 回答の入力ボタン -->
          <% url = "/problems/#{@question.task_id}/questions/#{@question.id}/answers/new" %>
          <%= link_to("Write Your Answer", url) %>
        </div>
      </div>
    </div>
  </div>
</div>
