<div class="main">
  <div class="problems-wrapper">
    <div class="container">
      <div class="heading">
        <div class="problems">

          <!-- FIXME: DRY -->
          <% atcoder = "https://atcoder.jp/contests/" %>
          <% url = atcoder + @problem.contest_id + "/tasks/" + @problem.task_id %>

          <h2>
            <a href=<%= url %> target="_blank" color="black">
              <%= @problem.contest_id.upcase + ": " + @problem.title %>
            </a>
          </h2>

          <%# ログイン状態のときだけ質問の投稿を許可する %>
          <% if @current_user %>
            <a href=<%= "/problems/#{@problem.task_id}/questions/new" %> class="btn">New Question</a>
          <% end %>

          <%# FIXME: CSSで配置を調整する %>
          <br>
          <br>

          <!-- HACK: erbファイルに直接モデル名を記述していいのか? -->
          <%# DBから該当する問題の質問のみ抽出 %>
          <% @questions = Question.where(task_id: @problem.task_id) %>

          <table border="1" width="100%">
            <col style="width:90%">
            <col style="width:10%">
            <thead>
              <tr>
                <th><%= @questions.count %> Questions</th>
                <th>Answers</th>
              </tr>
            <thead>

            <!-- TODO: 投稿順に並び替える -->
            <tbody>
              <% @questions.each do |question| %>
                <tr>
                  <%# TODO: 質問にリンクを貼る %>
                  <%# TODO: 質問を左寄せする %>

                  <td>
                    <%# FIXME: idが全体としての通し番号になっているため，問題ごとに集計する %>
                    <% url = "/problems/#{@problem.task_id}/questions/#{question.id}" %>
                    <a href=<%= url %>><%= question.title %></a>
                  </td>
                  <td>
                    <% answers = Answer.where(question_id: question.id) %>
                    <%= answers.count %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>
          <%# TODO: 入力フォームを用意 %>
          <a href=<%= "/problems/" %> class="btn">◀ Return to list</a>
        </div>
      </div>
    </div>
  </div>
</div>
